<h1> Welcome To My Home Page </h1>

<h2> Play Rock Paper Scissors Game </h2>

<h3> The Game Rules: </h3>

<p> 1. Rock beats Scissors </p>

<p> 2. Scissors beats Paper </p>

<p> 3. Paper beats Rock </p>
